@page
@model MohamadShop.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
       
        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label> در کدام دسته قراربگیرد</label>
            
                <select asp-for="CategoryToproduct.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="CategoryToproduct.ProductId" class="control-label"></label>*@
                <label> آیدی محصول را انتخاب نمایید</label>
                <select asp-for="CategoryToproduct.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            </div>


            <div class="alert alert-success">

                <P>نکته :عدد1 برای دسته جدیدترین ها</P>
                <P>نکته:عدد2 برای دسته محبوب ترین ها</P>
                <P>نکته :عدد3 برای دسته دوره های ویژه</P>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>

</div>
<div>
    <a class="btn btn-dark" asp-page="Index">بازگشت به صفحه</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
